/* Propiedades de la caja del cuerpo */
body {
  background-image: url(BigBangLogo.png);
  background-size: cover;
  color:black;
}

div {
  font-family: sans-serif;
  padding: 7.5px;
  border: solid;
  border-color: black;
  border-radius: 5px;
  background-color: rgba(92, 92, 97, 0.836);
}

  h1 {
    margin: 10px;
    padding: 10px;
    border: solid;
    border-color: black;
  }

  h2 {
    margin: 10px;
    padding: 10px;
    border: solid;
    border-color: black;
  }
  
  /*  Propiedades de la caja del párrafo */
  p {
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
    background-color: rgba(92, 92, 97, 0.836)
  }

  ul {
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
    background-color: rgba(92, 92, 97, 0.836)
  }

  leftcolumn{
    font-family: 'Times New Roman', Times, serif;
    float: left;
    width: 25%;
    padding: 25px;
    /*padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;*/
    outline-style: solid;
    outline-color:black;
    outline-offset: -8px;
}

rightcolumn{
    font-family: 'Times New Roman', Times, serif;
    float: left;
    width: 65%;
    padding: 25px;
    outline-style: solid;
    outline-color: black;
    outline-offset: -8px;
}